.DS_Store
cognitiveservicesPlugin/node_modules/
cognitiveservicesPlugin/.gradle/
cognitiveservicesPlugin/platforms/
cognitiveservicesPlugin/src/ios/MicrosoftCognitiveServicesSpeech.framework/
cognitiveservicesPlugin/aar
