.DS_Store
cognitiveservicesPlugin/node_modules/
cognitiveservicesPlugin/.gradle/
cognitiveservicesPlugin/platforms/
.vscode/
cognitiveservicesPlugin/local.properties
examples/ionic-angular/platforms
examples/ionic-angular/src/environments/
